.header-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  order: -1;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  padding: 40px;
}

@media (min-width: 1280px) {
  .header-menu {
    display: flex;
    flex-direction: row;
    width: initial;
    order: 1;
    border: initial;
    padding: initial;
  }
}
