.form__item_place_authorization {
  margin-top: 30px;
}

.form__item_place_authorization:nth-of-type(1) {
  margin-top: 40px;
}

@media (min-width: 1280px) {
  .form__item_place_authorization:nth-of-type(1) {
    margin-top: 50px;
  }
}
