.header__content {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 32px;
  padding-left: 28px;
  padding-right: 28px;
}

@media (min-width: 1280px) {
  .header__content {
    align-items: center;
    padding: initial;
  }
}
