.user__avatar {
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  line-height: 0;
}
