.header {
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  padding-top: 28px;
  padding-bottom: 32px;
  padding-left: 28px;
}

@media (min-width: 1280px) {
  .header {
    padding-top: 45px;
    padding-bottom: 41px;
    padding-left: initial;
  }
}