.popup__content_place_form {
  padding: 25px 22px;
}

@media (min-width: 1280px) {
  .popup__content_place_form {
    padding-top: 34px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 37px;
  }
}
